<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">

    <test name="Regression">
        <parameter name="browser" value="chrome"> </parameter>
        <groups>
            <run>
                <include name="*">
                </include>
            </run>
        </groups>
        <classes>
            <class name="org.example.testng.Example"/>
        </classes>
    </test>

</suite>